<div class="row section-titles">
  <div class="col-md-6 section-title-right" [class.selected-section]="!sharedTab">
    <h1 (click)="sharedTab = false"> My playlists </h1>
  </div>
  <div class="col-md-6 section-title-left" [class.selected-section]="sharedTab" >
    <h1 (click)="sharedTab = true"> Shared with me </h1>
  </div>
</div>

<div [hidden]="sharedTab" class="row">
  <div *ngFor="let uPlaylist of userPlaylists | orderByDate" class="col-md-4">
    <playlist-detail (playlistDeleted)="onPlaylistDeleted(uPlaylist)" [playlist]="uPlaylist"></playlist-detail>
  </div>
</div>

<div [hidden]="!sharedTab" class="row">
  <div *ngFor="let sPlaylist of sharedPlaylists | orderByDate" class="col-md-4">
    <playlist-detail-shared (playlistDeleted)="onPlaylistDeleted(sPlaylist)" [playlist]="sPlaylist"></playlist-detail-shared>
  </div>
</div>
