.black-container {
  background-color: #1a1a1a;
  transition: 300ms linear;
}

.black-container:hover {
  background-color: #f7f7f9;
}

.black-container:hover h3{
  color: #1a1a1a;
}

.pointer-mouse {
  cursor: pointer;
}

.collapsing-box {
  padding: 20px 10px 10px 20px;
}
