<div dnd-droppable (onDropSuccess)="onVideoDropped($event)"
[dropZones]="['add-dropZone']">
  <div class="black-container">
    <div class="row pointer-mouse collapsing-box" data-toggle="collapse"
    attr.data-target="#{{playlist._id}}" aria-expanded="false" aria-controls="playlist._id">
      <h3 class="col-md-10 text-secondary">{{playlist.name}}</h3>
      <div class="col-md-2 text-center">
        <a (click)="deletePlaylist()">
          <i class="octicon octicon-x octicon-large"></i>
        </a>
      </div>
    </div>
    <div class="collapse" attr.id="{{playlist._id}}">

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#playlist" aria-expanded="true"
          [class.active]="!share" (click)="share=false">Playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#share" aria-expanded="false"
          [class.active]="share" (click)="share=true">Share</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade in show" [class.active]="!share" id="playlist" aria-expanded="true">
          <div class="row">
            <div class="col-md-12">
              <div class="video-background text-center">
                <youtube-player *ngIf="playlist.videos.length > 0"
                  [videoId]="playlist.videos[0].videoId"
                  (ready)="savePlayer($event)"
                  (change)="onStateChange($event)">
                </youtube-player>
              </div>
            </div>
          </div>
          <div dnd-sortable-container
          [sortableData]="playlist.videos" [dropZones]="['video-dropZone']">
            <div class="list-group"
            *ngFor="let video of playlist.videos; let i = index"
            dnd-sortable [sortableIndex]="i" [dragData]="video" [dragEnabled]="true">
              <div class="row">
                <div class="col-md-12">
                  <a (click)="playVideo(i)" class="list-group-item  list-group-item-action"
                  [class.active]="currentIndex == i">
                      <div class="col-md-9">
                      <p>{{ video.title }}</p>
                      </div>
                      <div class="col-md-3">
                      <div class="text-center">
                        <button class="btn btn-primary btn-sm" (click)="deleteVideo(video)"
                        [class.btn-secondary]="currentIndex == i"> Delete </button>
                      </div>
                      </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <footer>
            <div class="col-md-12">
              Updated on : <cite title="Source Title">{{playlist.updated | date:'medium'}}</cite>
            </div>
            <div class="col-md-12">
              Created by : <cite title="Source Title">{{ playlist.owner.name }}</cite>
            </div>
          </footer>
        </div>
      </div>
      <div class="tab-pane fade in show" *ngIf="share" [class.active]="share" id="share" aria-expanded="false">
        <div class="share-tab">
          <div class="row"><div class="col-md-12"><h4 class="text-secondary">Share</h4></div></div>
          <form (ngSubmit)="searchUsers()" class="form-inline">
            <div class="row">
              <div class="col-md-7">
                <input class="form-control" [(ngModel)]="query" type="text" placeholder="User name" name="search">
              </div>
              <div class="col-md-5">
                <button [class.disabled]="!isSearchValid()" class="btn btn-primary" type="submit">Search</button>
              </div>
            </div>
          </form>
          <div class="row"><div class="col-md-12"><h4 class="text-secondary" *ngIf="users && users.length > 0">Search Results</h4></div></div>
          <div *ngFor="let user of users">
            <div class="row">
              <div class="col-md-7">
                <p>{{ user.name }}</p>
              </div>
              <div class="col-md-5">
                <button class="btn btn-primary"(click)="shareWith(user)"> Add </button>
              </div>
            </div>
          </div>
          <div class="row"><div class="col-md-12"><h4 class="text-secondary" *ngIf="playlist.shared.length > 0">Shared With</h4></div></div>
          <div *ngFor="let sharedUser of playlist.shared">
            <div class="row">
              <p class="col-md-7">{{ sharedUser.name }}</p>
              <div class="col-md-5"><button class="btn btn-primary" (click)="stopSharingWith(sharedUser)"> Remove </button></div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
