<div class="row navigation">
  <div class="col-md-1"><a href="/home"><img class="logo" src="../../assets/logo.png"></a></div>
  <form class="form-inline col-md-5" (ngSubmit)="showPanel=true; search.loadResults()">
    <h1 class="content-title">Discover</h1>
    <div class="row">
      <div class="col-md-8 form-group">
        <input class="form-control" type="text" placeholder="Search keywords" name="search" [(ngModel)]="search.query" >
      </div>
      <div class="col-md-4 form-group">
        <button [class.disabled]="!search.isSearchValid()" class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>
  <form class="form-inline col-md-5" (ngSubmit)="playlist.createPlaylist()">
      <h1 class="content-title">Create</h1>
      <div class="row">
        <div class="col-md-8 form-group">
          <input class="form-control" type="text" placeholder="Playlist name" name="playlist" [(ngModel)]="playlist.name">
        </div>
        <div class="col-md-4 form-group">
          <button [class.disabled]="!playlist.isNameValid()" class="btn btn-primary" type="submit">Create</button>
        </div>
      </div>
  </form>
  <div class="col-md-1 vcenter"><button class="btn btn-outline-warning" *ngIf="auth.authenticated()" (click)="auth.logout()">Logout</button></div>
</div>

<div class="row">
  <div [hidden]="!showPanel" class="sidebar-menu col-md-3">
    <div class="row">
      <div class="close-search"><a (click)="showPanel=false">Close</a></div>
      <search class="col-md-12 search-block" #search></search>
    </div>
  </div>
  <div class="content-right col-md-9" [class.col-md-12]="!showPanel">
    <playlist-list #playlist></playlist-list>
  </div>
</div>
